<p id="notice"><%= notice %></p>

<h1>Listing User Scheme Favorites</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Scheme</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_scheme_favorites.each do |user_scheme_favorite| %>
      <tr>
        <td><%= user_scheme_favorite.user_id %></td>
        <td><%= user_scheme_favorite.scheme_id %></td>
        <td><%= link_to 'Show', user_scheme_favorite %></td>
        <td><%= link_to 'Edit', edit_user_scheme_favorite_path(user_scheme_favorite) %></td>
        <td><%= link_to 'Destroy', user_scheme_favorite, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User scheme favorite', new_user_scheme_favorite_path %>
